/*mobile first*/


/*style.css*/

div {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.container {
    width: 90%;
    max-width: 1120px;
    margin: auto;
    overflow: hidden;

}

 h1,
        h2 {
            text-transform: lowercase;
            font-weight: 700;
        }

h2 {
    color: #808080;
}

h1 {
    font-family: Georgia, serif;
    font-size: 24px;
    /*text-align: center;*/

}


html, body {
    height: 100%;
}
body{
    font-family: Lato;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 1em;
}
h2, p {
/*    margin: 0 auto;*/
    padding: 5px;
}
p {
    max-width: 500px;
    font-size: 0.9em;
}

section {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    overflow:hidden;
    border-bottom: 2px solid #d3d3d2;
}

.clear {
    clear: both;
}

nav ul {
    list-style: none;
/*    text-align: left;*/
    padding: 0;
}
a {
    color: #2B2A2A;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #5DB5A4;
}

a.active {
    
    color: #808080;
}

.right {
    float: right;
}

.right-align {
    text-align: right;
}

.left-align,
 .col h3 {
    text-align: left;
}
img {
    max-width: 100%;

}
footer {
    text-align: center;
}

/*-----------sidebar-----------------------------------*/

.sidebar {
    width: 225px;
    text-align: center;
    position: fixed;
    min-height: 100%;
    background-color: #fff;
    padding: 40px 30px;
}

.portrait-container {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #808080;
    margin: 0 auto;
}

.name {
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 0;
}

.job-title {
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #2B2A2A;
}

.nav-links {
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links li {
    margin-left: 0;
    margin-bottom: 20px;
}

.social-links {
    padding: 0;
    margin-bottom: 50px;
    font-size: 24px;
}

.social-links li {
    display: inline;
}

.sidebar-footer {
    height: 30%;
    margin-top: 100px;
    position: relative;
    bottom: 0;
}

.credits {
    font-size: 10px;
    bottom: 0;
    position: absolute;
}

.page-content {
    margin-left: 225px;
    background-color: grey;
    min-height: 100%;
    padding: 50px 0;
}



/* ------------------Footer--------------------*/
.page-wrap {
    min-height: 100%;
    margin-bottom: -150px;
}

.page-wrap:after {
    content: "";
    display: block;
}
footer {
    padding: 1.5em 0;
}
footer, .page-wrap:after {
    min-height: 150px;
}

footer {
   border-bottom: 10px solid #ff5566;

}
footer ul {
    padding: 0;
    font-size: 1.5em;
}

footer li {
    display: inline-block;
    padding: 0 20px;
}

footer .span4 {
/*    text-align: center;*/
    float:none;
    margin: 0 auto;
}


/*-------------------About---------------------------*/

.about, .contact {
    text-align: center;
    overflow: hidden;
    max-width: 500px;
    height: 0;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    margin: 0 auto;
    position: relative;
}
.about h1, .contact h1 {
    margin-bottom: 0;
}
.about p{
    margin: 0;
}
.show-section {
    height: 200px;
}

.contact p, .about p, .center {
    text-align: center;
}

.close {
    position: absolute;
    bottom: 0px;
}



/*-------------Portfolio-----------------------------*/

.project-rows {
    display: flex;
}

.project-link {
    display: flex;
}

/*--------------home--------------*/



.project {
    border: 10px solid lightgrey;
    background: white;
    padding: 50px;
    margin-bottom: 30px;
}


.project img {
   max-width: 100%;
}
.proj h3, .proj p {
    text-align: center;
    margin-bottom: 0;

}



/*--------------Project Page--------------*/
.overview {
    text-align: left;
}

.overview div {
    padding-bottom: 10px;
}
/*
.overview {
    background: yellow;
}
*/

.circle-text {
    width:  49.5%;
/*    float: right;*/
    padding: 2%;
    display: inline-block;
    vertical-align: middle;
/*    margin: 1.5%;*/
    float:left;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #ff5566;
    opacity: 0.5;
    border: 1px solid black;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding: 5%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
    z-index: 2;
}

blockquote {
    position: relative;
    background-color: lightgrey;
    border-color: lightgrey;
    border-radius: 20px;
    padding: 1em;
    margin-bottom:40px;
}

blockquote::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid lightgrey;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}



/*Clearfix*/

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/*----------------diagram-----------------*/
.circle {
    border-radius: 50%;
    border: 2px dashed black;
    height: 10em;
    width:  10em;
    float: right;
    padding: 1em;
}

/*button styles*/

.button-container {
    float: left;

}
.button-link {
    padding: 10px 15px;
    display: block;
    text-align: center;
    background: #ff5566;
    color: #FFF;
    border-radius: 10px;
    border-bottom: 2px solid #dd4455;
}

.button-link:hover {
    background: #dd4455;
    color: #fff;
}

/*-------------betabrand carousel quick fix--------------------*/
#carousel-beta-generic .item {
    height: 500px;
    border: 8px solid #d3d3d2;
    border-radius: 10px;
    overflow: hidden;
}

#carousel-beta-generic img {
    width: 100%;
}

.carousel-caption {
    color:black;
    text-shadow: none;
    background: RGBA(255, 255, 255, 0.7);
    bottom: 0px;
}

.deck {
    border: 3px solid #d3d3d2;
    margin: 1em 0;
    border-radius: 10px;
}

/*-------------------------centro-----------------*/
.centro img {
    border: solid 3px #99ddcc;
    margin-bottom: 5%;
}

/*blarb wed 9/13 */
.project-header img {
/*    width: 50%;*/
    display: inline-block;
}
/*  ----------------------img-------------------*/
/*constrain for rows with a single image*/
.constrain {
    width: 90%;
    max-width: 900px;

}
/* Carousel */
.carousel-control.left, carousel-control.right {
    background-image:none;
}

.carousel-control {
top: 50%;
bottom: 50%;
}

.flyer {
    margin-top: 100px;
}

@-ms-viewport{
  width: device-width;
}

.carousel-inner {
    margin-bottom: 4em;
}
.carousel-indicators li {

    border: 2px solid #ff5566;
    background: transparent;
}
.carousel-indicators li.active {
    background-color:  #ff5566;
}
/*carousel w/ thumbnail    */
/*
#myCarousel {
    max-width: 800px;
    background-color: #d3d3d2;
    border: 5px solid #d3d3d2;
}
#myCarousel .carousel-inner {
    margin-bottom: 10em;
}

#myCarousel .carousel-indicators {

    bottom: -10px;
    left: 10px;
    margin: 0 auto;
    width: 100%;
    clear: both;
}

#myCarousel .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 100%;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 15%;
}

#myCarousel .carousel-indicators img {
    border: 2px solid #ddd;
    float: left;
    left: 0;
    width: 100%;
}

#myCarousel .carousel-indicators .active img {
    border: 2px solid #39b3d7;

}
*/


/*  ----------------------about-------------------*/
.about-page section {
    border: none;

}
.about-page h4{
    margin-top: 0;
}
#ed {
    background: -webkit-linear-gradient(-70deg, rgba(93, 181, 164,1) 0%, rgba(93, 181, 164,1)  10%,rgba(243,243,242,1) 10%, rgba(243,243,242,1) 100% );
    background: -o-linear-gradient(-70deg, rgba(93, 181, 164, 1) 0%, rgba(93, 181, 164,1)  10%,rgba(243,243,242,1) 10%, rgba(243,243,242,1) 100% ); /*Opera 11.1-12*/
    background: -moz-linear-gradient(-70deg, rgba(93, 181, 164,1) 0%, rgba(93, 181, 164,1)  10%,rgba(243,243,242,1) 10%, rgba(243,243,242,1) 100% ); /*Fx 3.6-15*/
    background: linear-gradient(160deg, rgba(93, 181, 164,1) 0%, rgba(93, 181, 164,1)  10%,rgba(243,243,242,1) 10%, rgba(243,243,242,1) 100% );


/*    border-top: 10px solid #5DB5A4;*/
}
#like {
    border-top: 15px solid #F57A82;
    background-color: #F4CDA5;
}

.logo {
    padding: 0.5em;
    max-width: 200px;
}
.profile {
    border: 8px solid #F3F3F2;
    max-width: 25%;
    margin:0 auto;
}

/*----------------------------Media Queries*/

@media screen and (min-width: 767px) {


    nav ul li {
        margin-left: 5%;
    }
    .navbar h2 {
        margin: 0;
        font-size: 14pt;
    }
    .profile {
        max-width: 100%;
        float: right;
    }
}
@media screen and (max-width: 767px) {
        .proj:nth-child(odd){
        margin-left: 0;
    }
}

@media screen and (min-width: 500px) {

    nav {
        margin: 0;
    }
}


/*    create drop down*/





